<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pokémon Unifil Edition</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <div id="game-container">
        <img id="professor-img" src="/images/professor_carvalho.png" alt="Professor Carvalho">
        <div id="text-box" onclick="nextText()">
            <p id="game-text"></p>
            <div id="genero" style="display: none;">
                <button onclick="chooseCharacter('garoto')">Garoto</button>
                <button onclick="chooseCharacter('garota')">Garota</button>
            </div>
        </div>
    </div>
    
    <div>
        <button onclick="window.location.href='/'">Voltar para a página inicial</button>
    </div>
</body>
</html>
