<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Treinador Criado</title>
</head>
<body>
    <h1>Treinador Criado</h1>
    <p>Bem-vindo, <%= treinador.nome %>! Você pode agora explorar a Pokédex!</p>
    <a href="/pokedex">Ir para a Pokédex</a>
    <br>
    <button onclick="window.location.href='/'">Criar outro Treinador</button> <
</body>
</html>
